<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
  http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

    {% for row in rows %}
        <bean id="{{row.driver_name}}_{{row.suffix}}Processor" class="com.raytheon.uf.edex.ooi.decoder.dataset.FileDecoder">
            <constructor-arg name="name" value="{{row.driver_name}}_{{row.suffix}}" />
            <constructor-arg name="basePythonCodePath" value="#{basePythonCodeLocalizationPath}" />
            <constructor-arg name="scriptPath" value="#{basePythonCodeLocalizationPath}{{row.driver_location}}" />
        </bean>
    {% endfor %}

    <camelContext id="{{camel_context}}"
        xmlns="http://camel.apache.org/schema/spring" errorHandlerRef="errorHandler">

        {% for row in rows %}
            <endpoint id="{{driver_name}}_{{item}}FileEndpoint"
                uri="file:${edex.home}/data/ooi/{{driver_name}}_{{item}}?delete=true&amp;delay=5000&amp;maxMessagesPerPoll=1000&amp;exclusiveReadLockStrategy=#fileChangedStrategy" />

            <route id="{{row.driver_name}}_{{row.suffix}}FileConsumerRoute">
                <from ref="{{row.driver_name}}_{{row.suffix}}FileEndpoint" />
                <bean ref="fileToString" />
                <setHeader headerName="deliveryType">
                    <constant>{{row.suffix}}</constant>
                </setHeader>
                <setHeader headerName="sensor">
                    <constant>{{row.sensor_id}}</constant>
                </setHeader>
                <to uri="jms-durable:queue:Ingest.{{row.driver_name}}_{{row.suffix}}" />
            </route>

            <route id="{{row.driver_name}}_{{row.suffix}}Ingest">
                <from uri="jms-durable:queue:Ingest.{{row.driver_name}}_{{row.suffix}}" />
                <doTry>
                    <pipeline>
                        <bean ref="{{row.driver_name}}_{{row.suffix}}Processor" />
                        <to uri="direct-vm:persistIndexAlert" />
                    </pipeline>
                    <doCatch>
                        <exception>java.lang.Throwable</exception>
                        <to uri="log:ooi.{{row.driver_name}}?level=ERROR" />
                    </doCatch>
                </doTry>
            </route>
        {% endfor %}

    </camelContext>
</beans>