; Port Agent supervisord config file
;
; For more information on the config file, please see:
; http://supervisord.org/configuration.html
;
; Notes:
;  - Shell expansion ("~" or "$HOME") is not supported.  Environment
;    variables can be expanded using this syntax: "%(ENV_HOME)s".
;  - Comments must have a leading space: "a=b ;comment" not "a=b;comment".

[unix_http_server]
file=supervisor.sock   ; (the path to the socket file)

[inet_http_server]         ; inet (TCP) server disabled by default
port=127.0.0.1:9009        ; (ip_address:port specifier, *:port for all iface)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisord]

[supervisorctl]
serverurl=unix://supervisor.sock ; use a unix:// URL  for a unix socket

{% for group in groups %}
{% for config in groups[group] %}
[program:{{ config.refdes }}]
;command=./port_agent -c configs/{{ config.refdes }}.conf -s -v
{% if config.instrument_type == 'rsn' %}
command=port_agent rsn {{config.data_port}} {{config.command_port}} {{config.instrument_addr}} {{config.instrument_data_port}} {{config.instrument_command_port}} --name={{config.refdes}} --sniff={{config.sniffer_port}}
{% elif config.instrument_type == 'tcp' %}
command=port_agent tcp {{config.data_port}} {{config.command_port}} {{config.instrument_addr}} {{config.instrument_data_port}} --name={{config.refdes}} --sniff={{config.sniffer_port}}
{% elif config.instrument_type == 'botpt' %}
command=port_agent botpt {{config.data_port}} {{config.command_port}} {{config.instrument_addr}} {{config.instrument_data_rx_port}} {{config.instrument_data_tx_port}} --name={{config.refdes}} --sniff={{config.sniffer_port}}
{% endif %}
autostart=false

{% endfor %}
{% endfor %}
